//variable color
$color-blue: #1790FF;


//variable font-size
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 14px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 30px;

//variable padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 30px;
